POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace_with_strong_postgres_superuser_password
POSTGRES_DB=postgres

EVENTFLOW_PROD_DB_USER=eventflow_prod
EVENTFLOW_PROD_DB_PASSWORD=replace_with_strong_prod_db_password

EVENTFLOW_STAGING_DB_USER=eventflow_staging
EVENTFLOW_STAGING_DB_PASSWORD=replace_with_strong_staging_db_password
